body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Roboto, sans-serif;
}

body {
  background-color: #F6F6F6;
}

.mainBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
.mainBox.invisible {
  display: none;
}
.mainBoxCoffee {
  width: 100%;
  display: grid;
  justify-content: left ;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-right: 0%;
}

.leftBox {
  width: 14%;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 4rem 3%;
  margin: 15% 9% 9% 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed; 
}

.scrollBox {
  width: 100%;
  justify-content: center;
}

.categoryCoffees {
  width: 100%;
  padding: 15px 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 10%;
  background-color: transparent;
}

.activeCategory {
  background-color: #f4f1ec;
  color: white;
}

.categoryCoffees:hover {
  background-color: #ecd4b4;
}

.textCategoryCoffee {
  color: #432c2c;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.rightBox {
  margin-left: 20%;
  padding: 25px;
}

.headerBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-right: 3%;
}

.searchInput {
  width: 75%;
  padding: 15px 20px;
  border-radius: 30px;
  border: none;
  background-color: #f4f1ec;
  font-size: 16px;
  outline: none;
}

.searchInput::placeholder {
  color: #9b8d83;
}

.basketBox {
  display: flex;
  align-items: center;
  position: relative;
}

.basketImage {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.basketCount {
  background-color: #b94733;
  color: white;
  font-size: 14px;
  padding: 3px 8px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -10px;
}


.coffeeCard {
  background-color: #f4f1ec;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;

}
.coffeeImage {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.coffeeCard:hover {
  transform: translateY(-5px);
}

.coffeeName {
  margin: 10px 0;
  font-size: 18px;
  color: #432c2c;
}

.coffeePrice {
  align-items: center;
  text-align: center;
  justify-content: space-between;
  font-size: 17px;
}

.priceValue {
  background-color: #d5d2cd;
  padding: 5px 12px;
  border-radius: 10px;
}
.footerCoffeeCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
}
.footerCoffeeCard.added{
  justify-content: center;
  gap: 14px;
}

.removeToBasketButton,
.addToBasketButton {
  background: #d3c9c9;
  color: #000000;
  border: none;
  border-radius: 1rem;
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.removeToBasketButton:hover,
.addToBasketButton:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  background: #d1b084;
}

.removeToBasketButton:active,
.addToBasketButton:active {
  transform: scale(0.95);
  box-shadow: 0 3px 7px rgba(0,0,0,0.1);
}
.coffeeCountInBasket {
  margin-top: 10px;
  font-size: 16px;
  color:#b3ada4;;
}

.invisible {
  display: none;
}